{% extends 'mtaupload/base.html' %}
{% block title %}{{ category }}{% endblock %}
{% block categories_active %}active{% endblock %}

{% block body %}
<div class="container-fluid files-container">

    <div class="row">

        <!-- Left Category Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'static:detail' category.id %}">
                        {% if category.category_logo %}
                            <img src="{{ category.category_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ category.category_title }} <small>{{ category.type }}</small></h1>
                    <h2>{{ category.provider }}</h2>
                </div>
            </div>
        </div>

        <!-- Right File Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'static:detail' category.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'static:create_file' category.id %}">Add New File</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Files</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Filename</th>
                            <th>Data File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for file in category.file_set.all %}
                            <tr>
                                <td>{{ file.filename }}</td>
                                <td>
                                    <a target="_blank" href="{{ file.data_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-download"></span>&nbsp; Download
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'static:favorite' file.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if file.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% url 'static:delete_file' category.id file.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="file_id" value="{{ file.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
