{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        {% block title %}
        {% endblock %}

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        {% load static %}
        <script src="{% static "mtaweb/js/jquery.min.js" %} "></script>
        <script src="{% static "mtaweb/js/skel.min.js" %} "></script>
        <script src="{% static "mtaweb/js/skel-layers.min.js" %} "></script>
        <script src="{% static "mtaweb/js/init.js" %} "></script>
{#        <noscript>#}
			<link rel="stylesheet" href="{% static "mtaweb/css/skel.css" %}" />
            <link rel="stylesheet" href="{% static "mtaweb/css/style.css" %}" />
			<link rel="stylesheet" href="{% static "mtaweb/css/style-xlarge.css" %}" />
{#        </noscript>#}
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
{#		<script src="../../static/mtaweb/js/jquery.min.js"></script>#}
{#		<script src="../../static/mtaweb/js/skel.min.js"></script>#}
{#		<script src="../../static/mtaweb/js/skel-layers.min.js"></script>#}
{#		<script src="../../static/mtaweb/js/init.js"></script>#}
{#		<noscript>#}
{#			<link rel="stylesheet" href="../../static/mtaweb/css/skel.css" />#}
{#			<link rel="stylesheet" href="../../static/mtaweb/css/style.css" />#}
{#			<link rel="stylesheet" href="../../static/mtaweb/css/style-xlarge.css" />#}
{#		</noscript>#}
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
                <h1><a href="{% url 'index' %}">mtaAV Antivirus</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'introduction' %}">Introduction</a></li>
					    <li><a href="{% url 'download' %}">Download</a></li>
{#						<li><a href="introduction.html">Introduction</a></li>#}
{#						<li><a href="download.html">Download</a></li>#}
					</ul>
				</nav>
			</header>

        {% block content %}

        {% endblock %}

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<section class="4u 6u(medium) 12u$(small)">
							<h3>Personal protection</h3>
                            <ul class="alt">
                            <p><b>mtaAV is the best antivirus to protect your files!</b></p>

                                <li><a href="#">mtaAV - the right choice.</a></li>
								<li><a href="#">Excellent trusted parter, mtaAV not only provide a good solution but back it up with excellent customer engagement and implementation support.</a></li>

							</ul>
						</section>

						<section class="4u 6u$(medium) 12u$(small)">
							<h3>Organization protection!</h3>
                            <ul class="alt">
							<p>mtaAV provides a comprehensive solution to protect your organization and bussiness.</p>

								<li><a href="#">Our experience with mtaAV has been overall very positive.</a></li>
								<li><a href="#">mtaAV have provided very good product deployment support which has negated the need for costly external consultancy.</a></li>
							</ul>
						</section>

						<section class="4u$ 12u$(medium) 12u$(small)">
							<h3>Contact Us</h3>
							<ul class="icons">
								<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
								<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="tabular">
								<li>
									<h3>Address</h3>
									236 Hoang Quoc Viet Road<br>
									Bac Tu Liem, Ha Noi, Viet Nam
								</li>
								<li>
									<h3>Mail</h3>
									<a href="#">admin@lqdtu.edu.vn</a>
								</li>
								<li>
									<h3>Phone</h3>
									(000) 000-0000
								</li>
							</ul>
						</section>
					</div>
					<ul class="copyright">
						<li>Copyright &copy; 2017 MTA SeLab. All rights reserved.</li>
						<li>Design: <a href="#">MTA SeLab</a></li>
						<li>Images: <a href="#">MTA Community</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>