{% extends 'mtaweb/base.html' %}

{% load static %}

{% block title %}
    <title>mtaAV Download</title>
{% endblock %}

{% block content %}

    		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Download</h2>
						<p>Download the lastest version of mtaAV Antvivirus and virus database.</p>
					</header>

                    <h3 align="center">Download mtaAV program</h3>
                <table>
                    <thead>
                        <td>Program</td>
                        <td>Version</td>
                        <td>Download</td>
                    </thead>
                    <tbody>

{#                    Cho nay se cho load tu category program de lay ra chuong trinh#}
                        <tr>
                            <td>mtaAV 2.0</td>
							<td><li><span class="label">Version 2.0</span></li></td>
							<td><a href="#" class="icon fa-download"></a></td>
						</tr>
                        <tr>
                            <td>mtaAV 1.0</td>
							<td><li><span class="label">Version 1.0</span></li></td>
							<td><a href="#" class="icon fa-download"></a></td>
						</tr>

                    </tbody>
                </table>

                <h3 align="center">Download mtaAV database</h3>
					<table>
                        <thead><tr>
							<td><b>Filename</b></td>
                            <td><b>Category</b></td>
							<td><b>Download</b></td>
                            <td><b>Date Created</b></td>
						</tr>
                        </thead>
                        <tbody>

                        {% if data %}
                            {% for category_data in data %}
                                <tr>
                                <td></td>
                                <td>
                                    <h3>{{ category_data.category.provider }}</h3>
                                </td>
                                </tr>
                                {% if category_data.files %}
                                    {% for file in category_data.files %}
                                        <tr>
                                        <td>{{ file.filename }}</td>
                                        <td>{{ file.category }}</td>
                                        <td>{{ file.date_created }}</td>
                                        <td>
                                            <a target="_blank" href="{{ file.data_file.url }}" class="icon fa-download">
                                        </a>
                                        </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
					</table>
                </div>
			</section>

{% endblock %}