{% extends 'mtaweb/base.html' %}

{% load static %}

{% block title %}
    <title>mtaAV Antivirus</title>
{% endblock %}

{% block content %}

    <!-- Banner -->
			<section id="banner">
				<h2>mtaAV Antivurus</h2>
				<p>This is mtaAV Antivurus.</p>
				<ul class="actions">
					<li>
						<a href="#" class="button big">Learn more</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2>Program features</h2>
						<p>This is some features of program MTA Antivirus.</p>
					</header>
					<div class="row 200%">
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-clock-o"></i>
							<p>Real-time protection.</p>
						</section>
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-asterisk"></i>
							<p>Against malicious softwares (virus, trojan, key logger, rootkits, ...).</p>
						</section>
						<section class="4u$ 12u$(small)">
							<i class="icon big rounded fa-download"></i>
							<p>Always updating</p>
						</section>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 align-center">
				<div class="container">
					<header>
						<h2>Some pictures of program</h2>
						<p></p>
					</header>
					<div class="row">
						<section class="feature 6u 12u$(small)">
							<img class="image mta" src="{% static "mtaweb/images/pic01.jpg" %}" alt="" />
							<h3 class="title">Introduction to picture 1</h3>
							<p>The function shown on picture 1.</p>
						</section>

						<section class="feature 6u$ 12u$(small)">
							<img class="image mta" src="{% static "mtaweb/images/pic02.jpg" %}" alt="" />
							<h3 class="title">Introduction to picture 2</h3>
							<p>The function shown on picture 2.</p>
						</section>

						<section class="feature 6u 12u$(small)">
							<img class="image mta" src="{% static "mtaweb/images/pic03.jpg" %}" alt="" />
							<h3 class="title">Introduction to picture 3</h3>
							<p>The function shown on picture 2.</p>
						</section>

						<section class="feature 6u$ 12u$(small)">
							<img class="image mta" src="{% static "mtaweb/images/pic04.jpg" %}" alt="" />
							<h3 class="title">Introduction to picture 4</h3>
							<p>The function shown on picture 2.</p>
						</section>
					</div>
					<footer>
						<ul class="actions">
							<li>
								<a href="#" class="button alt big">Learn More</a>
							</li>
						</ul>
					</footer>
				</div>
			</section>


{% endblock %}