{% extends 'mtaweb/base.html' %}

{% load static %}

{% block title %}
    <title>mtaAV Introduction</title>
{% endblock %}

{% block content %}

    <!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Introduction</h2>
					</header>
                    <p>mtaAV is the pioneer antivirus software program using cloud computing technology in the field of security</p>

                    <p>mtaAV disinfects and removes malware in real-time with malware detection technologies based on analyzing behaviors, helps keeping you safe from malware regardless of updating malware signatures. Thus, your computer will be protected against any malware risk, targeted malware such as spyware, keylogger or ransomeware etc. Your privacy and data are well-protected anywhere at any time whether you are surfing Internet, joining a social network or making online transactions.</p>

                    <p>Using mtaAV, you are continuously updated with the latest protection technologies from mtaSelab as well as received direct support from our security experts. Exclusive support service for mtaAV users is a premium free-of-charge service and always available. Relieve yourself from the duty of trying to be security experts, rely on Bkav instead.</p>

					<a href="#" class="image fit"><img src="{% static "mtaweb/images/banner1.jpg" %}" alt="" /></a>
					<p>mtaAV Antivirus is written at SeLab with purpose to bring to user a comprehensive security solutions.</p>
					<p>mtaAV Antivirus is always free.</p>

                    <h2>FEATURES</h2>

                    <h3>Real-time anti-malware features</h3>

                    <h4>Real – time protection</h4>
                    <p>Automatically protect your computer in real-time. Warn and destroy any malware intruding your device.</p>

                    <h4>Self Defense</h4>
                    <p>Protect the software itself from any risk of being attacked or compromised</p>

                    <h4>Registry protector</h4>
                    <p>Control, prevent programs from making any interactions, modifications to Registry.</p>


                    <h3>Anti-spyware, behavioral-based malware remover</h3>

                    <h4></h4>
                    <p>Smartly disinfect and remove malware based on its behavioral activities, regardless of malware signature database. Prevent targeted attacks, information disclosures or spyware.</p>

                    <h4>Anti keylogger</h4>
                    <p>Block all types of keylogger, regardless of malware signature database. Protect passwords and sensitive information from being stolen.</p>

                    <h4>Safe Run</h4>
                    <p>Creating a safe quarantined environment for users to open unknown files downloaded from Internet without the risk of malicious code infection.</p>

                    <h4>Safe Download</h4>
                    <p>Risk-free in downloading all things from Internet.</p>


                    <h3>Privacy and data protection</h3>

                    <h4>Firewall</h4>
                    <p>Manage all incoming and out coming internet connections, prevent unwanted or unknown connections.</p>

                    <h4>Safe Payment</h4>
                    <p>Secure while making online transactions.</p>

                    <h4>Site Advisor</h4>
                    <p>Help avoiding malicious or fraud website on Internet.</p>

                    <h4></h4>
                    <p></p>

				</div>
			</section>

{% endblock %}