{% extends 'mtaweb/base.html' %}

{% load static %}

{% block title %}
    <title>mtaAV Introduction</title>
{% endblock %}

{% block content %}

    <!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Introduction</h2>
						<p>Introduction about mtaAV Antivirus</p>
					</header>

					<a href="#" class="image fit"><img src="{% static "mtaweb/images/banner1.jpg" %}" alt="" /></a>
					<p>mtaAV Antivirus is written at SeLab with purpose to bring to user a comprehensive security solutions.</p>
					<p>mtaAV Antivirus is always free.</p>

				</div>
			</section>

{% endblock %}